<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>Quick links</h3>
            <a href="{% url  'home_page' %}"><i class="fa-solid fa-house"></i>Home</a>
            <a href=""><i class="fa-sharp fa-solid fa-circle-info"></i>about Us</a>
            <a href=""><i class="fa-solid fa-user"></i>Account</a>

        </div>
        <div class="box">
            <h3>Extras links</h3>
            <a href=""> <ion-icon name="people"></ion-icon> Services</a>
            <a href=""> <ion-icon name="albums"></ion-icon> Features</a>
            <a href=""> <ion-icon name="card"></ion-icon> pricing</a>
        </div>
        <div class="box">
            <h3>Contact info</h3>
            <a href="#"> <i class="fas fa-envelope"></i> ayoubelmarchoum@gmail.com </a>
            <a href="#"> <i class="fas fa-envelope"></i> mouadaitha@gmail.com </a>
            <a href="#"> <i class="fas fa-envelope"></i> Scrapert_gov@gmail.com </a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fa-brands fa-github"></i> github </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fa-brands fa-linkedin"></i> linkedin </a>
        </div>
    </div>
    <div class="credit"> Created by <span>Mouad AIT HA | Ayoub ELMARCHOUM</span> || Copyrights 2023-2023</div>
</section>
